.post__content-date{
    font-family: $playfair;
    font-style: normal;
    color: $Nickel;
}
.post__content-entry p{
    line-height: 2em;
    font-size: 16px;
    color: #6C6E70;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
