.header{
    color: white;
    height: 700px;
    background-image: url("../img/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    & h1{
        font-family: $playfair;
        font-size: $xx-large;
        margin-bottom: 23%;
        font-style: italic;
    }

}
.header__content{
    max-width: 650px;
    margin: auto;
    padding-top: 20%;
}